@import '_colors';
.list.favorite_list {
	background-color:transparent;
	.item {
		background-color: transparent;
		border-color: $purple4;
		min-height:125px;
		img {
			border: 4px solid #FFF;
		    border-radius: 100px;
			-webkit-border-radius: 100px;
			-moz-border-radius: 100px;
			max-height: 100px;
			max-width: 100px;
		}
		h2 {
			font-size: 50px;
  			margin: 20px;
		}
		&:first-child {
			border-top-color:transparent;
		}
	}
}
.bar {
	-webkit-animation-name: expand-me;
	-webkit-animation-duration: 500ms;
	-webkit-animation-iteration-count: 1;
}
.bar .title, .bar .left-buttons button{
	-webkit-animation-name: color-me;
	-webkit-animation-duration: 500ms;
	-webkit-animation-iteration-count: 1;
}

@-webkit-keyframes expand-me {
	0% {width: 0px;margin: 0 auto;visibility:hidden;}
	100% {width:100%;margin: 0 auto;visibility:visible;}
}
@-webkit-keyframes color-me {
	0% {color:transparent;}
	75% {color:transparent;}
	100% {color:#444;}
}