@import '_colors';
.home_menu {
	&_logo {
		text-align:center;
		img {
			border: 5px solid #FFF;
	    	border-radius: 150px;
			-webkit-border-radius: 100px;
			-moz-border-radius: 100px;
			margin-top:10px;
			margin-bottom:10px;
		}
		h2 {
			margin:0;
			padding-bottom: 10px;
		}
	}
	li {
		&.yellow {
			background-color: $yellow1;
		}
		&.red {
			background-color: $red1;
		}
		&.green {
			background-color: $green1;
		}
		a {
			display:block;
			text-decoration: none;
		}
		&:nth-child(2) {
			-webkit-animation-delay: .25s;
		}
		&:nth-child(3) {
			-webkit-animation-delay: .5s;
		}
	}
}
.icon.settings {
	@extend .ion-ios7-search!optional
}