@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/braxtondiggs\/Documents\/Sites\/Charmeleon\/app\/styles\/splash\.scss}line{font-family:\000033}}
.splash .logo,
.home .logo {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/braxtondiggs\/Documents\/Sites\/Charmeleon\/app\/styles\/splash\.scss}line{font-family:\000038}}
.splash .logo h1,
.home .logo h1 {
  margin: 0;
  text-align: center;
  font-size: 65px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/braxtondiggs\/Documents\/Sites\/Charmeleon\/app\/styles\/splash\.scss}line{font-family:\0000313}}
.splash .logo img,
.home .logo img {
  border: 8px solid #FFF;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/braxtondiggs\/Documents\/Sites\/Charmeleon\/app\/styles\/splash\.scss}line{font-family:\0000319}}
.splash .logo.delay,
.home .logo.delay {
  -webkit-animation-delay: 3s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/braxtondiggs\/Documents\/Sites\/Charmeleon\/app\/styles\/splash\.scss}line{font-family:\0000322}}
.splash .logo.zoomOut-custom,
.home .logo.zoomOut-custom {
  -webkit-animation-name: zoomOut-custom;
  animation-name: zoomOut-custom;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/braxtondiggs\/Documents\/Sites\/Charmeleon\/app\/styles\/splash\.scss}line{font-family:\0000327}}
.splash .splash_icon,
.home .splash_icon {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation-delay: 4s;
  -webkit-animation-name: spin;
  -webkit-animation-duration: 3000ms;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: cubic-bezier(0.5, 0.5, 1, 1);
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
  }
  15% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
  }
  30% {
    -webkit-transform: translate(-50%, -50%) rotate(720deg);
  }
  45% {
    -webkit-transform: translate(-50%, -50%) rotate(1080deg);
    opacity: 1;
  }
  /*Wobble*/
  65% {
    -webkit-transform: translate(-50%, -50%) rotate(1450deg);
  }
  70% {
    -webkit-transform: translate(-50%, -50%) rotate(1460deg);
  }
  80% {
    -webkit-transform: translate(-50%, -50%) rotate(1420deg);
    opacity: 1;
  }
  90% {
    -webkit-transform: translate(-50%, -50%) rotate(1460deg);
  }
  90% {
    -webkit-transform: translate(-50%, -50%) rotate(1440deg);
    opacity: 0;
  }
}
@-webkit-keyframes zoomOut-custom {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) scale3d(0.3, 0.3, 0.3);
    transform: translate(-50%, -50%) scale3d(0.3, 0.3, 0.3);
  }
  100% {
    opacity: 0;
  }
}
@keyframes zoomOut-custom {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) scale3d(0.3, 0.3, 0.3);
    transform: translate(-50%, -50%) scale3d(0.3, 0.3, 0.3);
  }
  100% {
    opacity: 0;
  }
}
