<ion-view view-title="Home" hide-nav-bar="true">
  <ion-content >
  		<ul class="home_menu">
	  		<li class="animated bounceInLeft red favorite">
	  			<a href="#/app/favorite">
	  				<div class="home_menu_logo">
	  					<img src="http://placehold.it/100x100"/>
	  					<h2>Favorites</h2>
	  				</div>
	  			</a>
	  		</li>
	  		<li class="animated bounceInLeft yellow drinks">
	  			<a href="#">
	  				<div class="home_menu_logo">
	  					<img src="http://placehold.it/100x100"/>
	  					<h2>Drinks</h2>
	  				</div>
	  			</a
	  		</li>
	  		<li class="animated bounceInLeft green settings">
	  			<a href="#">
	  				<div class="home_menu_logo">
	  					<img src="http://placehold.it/100x100"/>
	  					<h2>Settings</h2>
	  				</div>
	  			</a
	  		</li>
	  	</ul>
  </ion-content>
</ion-view>
